h1 {
    font-style: italic;
}

#secciondatos {
    width: 50%;
    margin: 0 auto;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    text-align: center;
}

#seccionredes {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

a {
    font-weight: 600;
    text-decoration: none;
}

.seccion {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 2%;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}

#seccionhabilidades table td {
    text-align: center;
}

#seccionhabilidades table {
    margin: 0 auto;
}

section h2 {
    color: #0bcc7b;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#secciondatos p {
    font-size: 1.4rem;
    margin-top: 6%;
    color: #373b41;
}

#seccioncontactenos {
    display: grid;
    grid-template-areas: "a a a a"
                         "b b c c"
                         "d d e e";
}

#seccioncontactenos h2{
    grid-area: a;
}
#datos {
    grid-area: b;
}

#ubicacion {
    grid-area: c;
}

#mapa {
    grid-area: e;
}


#formulario {
    grid-area: d;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#formulario #personal {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}


#formulario #edad {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#formulario #servicio {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#formulario span{
    display: flex;
    column-gap: 1%;
}

#formulario #personal span{
    column-gap: 5%;
}

footer address {
    display: flex;
    flex-direction: column;
    align-items: center;
}